
    .add-user-container h2{
        text-align:center;
        margin-top:35%;
    }
    .add-user-form {
        
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.add-user-form input,
.add-user-form select,
.add-user-form button {
    width: 95%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size:17px;
}

.add-user-form button {
    background-color: royalblue;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

    .add-user-form button:hover {
        background-color: #4169e1;
    }

.form-message {
    text-align: center;
    color: green;
}


.add-user-container {
    display: flex;
    margin: 7% 20% 5% 10%;
    align-items: flex-start;
    justify-content: space-between;

}
.deleted-button{
    width:85%;
    border:none;
    font-weight:bold;
    color:#fc240d;
    background-color:transparent;
    font-size:14px;
}
.user-list-section {
    flex: 1;
    max-width: 400px;
}

.form-section {
    flex: 1;
    max-width:400px;
}
.filters{
    display:flex;
}
.filters input,
.filters select {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border:solid 1px #92adff;
}
    .filters select{
        width:auto;
        margin-right:auto;
    }
    .user-list {
        list-style: none;
        padding: 0;
    }

.user-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 0.95rem;
}

.form-message {
    color: green;
    margin-top: 10px;
}
.scrollable-table-wrapper {
    max-height: 600px;
    width:800px;
    overflow-y: auto;
    margin-top: 1rem;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 0.95rem;
    table-layout:fixed;
}
    
    .user-table th,
    .user-table td {
        padding: 10px 12px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .user-table th {
        background-color: #e1e9ff;
        color: #333;
    }

    .user-table tr:hover {
        background-color: #f9f9f9;
    }

    .user-table .delete-button {
        background-color: #e74c3c;
        color: white;
        border: none;
        padding: 6px 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.9rem;
    }

        .user-table .delete-button:hover {
            background-color: #c0392b;
        }